<html lang="en">
<head>
    <% include ../helpers/head %>
    <meta charset="UTF-8">
    <title>FIT UP HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="wrapper-images">
    <div class="images-line">
      <div class="line large" style="background-image:url(https://images.everydayhealth.com/images/everything-you-need-know-about-fitness-1440x810.jpg)"></div>
      <div class="line" style="background-image:url(https://i.pinimg.com/564x/69/95/ed/6995edd9d49b8db4a8b858413d06ab58.jpg)"></div>
      <div class="line" style="background-image:url(https://hips.hearstapps.com/hmg-prod/images/using-a-machine-to-become-one-royalty-free-image-960249252-1561543819.jpg?crop=0.668xw:1.00xh;0.332xw,0&resize=1200:*)"></div>
      <div class="line large" style="background-image:url(https://images.everydayhealth.com/images/everything-you-need-know-about-fitness-1440x810.jpg)"></div>
      <div class="line" style="background-image:url(https://i.pinimg.com/564x/69/95/ed/6995edd9d49b8db4a8b858413d06ab58.jpg)"></div>
      <div class="line" style="background-image:url(https://hips.hearstapps.com/hmg-prod/images/using-a-machine-to-become-one-royalty-free-image-960249252-1561543819.jpg?crop=0.668xw:1.00xh;0.332xw,0&resize=1200:*)"></div>
    </div>
    <div class="images-line">
      <div class="line" style="background-image:url(https://i.pinimg.com/564x/13/bd/d9/13bdd9fce657ded797a1943456af1711.jpg)"></div>
      <div class="line large" style="background-image:url(https://images.everydayhealth.com/images/everything-you-need-know-about-fitness-1440x810.jpg)"></div>
      <div class="line" style="background-image:url(https://i.pinimg.com/564x/ba/ef/0e/baef0e7184cf12a082fbad862349774f.jpg)"></div>
      <div class="line" style="background-image:url(https://i.pinimg.com/564x/13/bd/d9/13bdd9fce657ded797a1943456af1711.jpg)"></div>
      <div class="line large" style="background-image:url(https://i.pinimg.com/564x/a4/4a/25/a44a25b59cd9c8780179f98be5050ad5.jpg)"></div>
      <div class="line" style="background-image:url(https://i.pinimg.com/564x/aa/ed/88/aaed8851e39f88e26a1e3f92dada9833.jpg)"></div>
    </div>
    <div class="images-line">
      <div class="line " style="background-image:url(https://i.pinimg.com/736x/69/34/80/69348073862ec8da1a2980a86b963392.jpg)"></div>
      <div class="line" style="background-image:url(https://i.pinimg.com/564x/94/0a/5e/940a5ec6ecea923fc64a02979c326fce.jpg)"></div>
      <div class="line large" style="background-image:url(https://i.pinimg.com/564x/77/21/c9/7721c96a31c5509bb19fd861f5836c24.jpg)"></div>
      <div class="line " style="background-image:url(https://i.pinimg.com/736x/69/34/80/69348073862ec8da1a2980a86b963392.jpg)"></div>
      <div class="line" style="background-image:url(https://i.pinimg.com/564x/94/0a/5e/940a5ec6ecea923fc64a02979c326fce.jpg)"></div>
      <div class="line large" style="background-image:url(https://i.pinimg.com/564x/77/21/c9/7721c96a31c5509bb19fd861f5836c24.jpg)"></div>
    </div>
  </div>
  
    <span class="fancy"><p style="font-size: 150px;"><b>FIT - UP</b></p>
     <p class="quote">Life has no remote <br> Get up and change it yourself</p>
  </span>
  
    <div class="cool">
    <!-- partial:index.partial.html -->
    <div class="container">
      <input type="checkbox" id="toggle" checked />
      <label class="button" for="toggle">
      <nav class="nav">
        <ul>
       	

			<li><a href="#0"><i class="ri-message-2-line">Lose<br> Weight <hr> <a href="https://3whyjv.csb.app/">Workout</a> <br> <a href="https://ry23gz.csb.app/">Diet</a></i></a></li>
			<li><a href="#0"><i class="ri-mic-line">
				Gain<br> Weight <hr> <a href="https://5jv2r2.csb.app/">Workout</a> <br> <a href="https://x9px2l.csb.app/">Diet</a> </i> </a>
			</li>
				
			<li><a href="#0"><i class="ri-file-line">Stable<br> Weight <hr><a href="https://ytlmrt.csb.app/">Workout</a> <br> <a href="https://7x3nns.csb.app/"> Diet</a></i></a></li>
				
			<li><a href="#0"><i class="ri-send-plane-2-line">Gain<br> Muscle <hr> <a href="https://cgfmsz.csb.app/"> Workout</a> <br> <a href="https://qjld3c.csb.app/"> Diet</a></i></a></li>
				 </ul>
      </nav>
      </label>
    </div>
    <!-- partial -->
      </div>
</body>

</html>